#app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  max-width: 45rem;
  margin-inline: auto;
}

#app > form {
  padding-top: 12rem;
}
.copyright {
  font-size: 0.7rem;
}
